* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: quicksand, sans-serif;
  overflow-x: hidden;
}

.inactive {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
}

.logo {
  width: 100px;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 85px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
  flex-wrap: wrap;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a {
  margin-right: 12px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid #335b5d;
  background-image: linear-gradient(
    309deg,
    #1e2021 0%,
    #2c5473 46%,
    #335b5d 100%
  );
}

.navbar-email {
  color: var(--very-light-pink);
  cursor: pointer;
  font-size: var(--sm);
  margin-right: 12px;
  flex: 1;
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: 700;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-menu {
  position: absolute;
  top: 85px;
  right: 60px;
  background-image: linear-gradient(
    309deg,
    #1e2021 0%,
    #2c5473 46%,
    #335b5d 100%
  );
  width: 200px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0;
  z-index: 3;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: 700;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--very-light-pink);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.mobile-menu {
  background-image: linear-gradient(
    309deg,
    #1e2021 0%,
    #2c5473 46%,
    #335b5d 100%
  );
  position: absolute;
  top: 86px;
  left: 0;
  width: calc(100% - 24px);
  padding-left: 24px;
  z-index: 3;
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 10px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.email {
  font-size: var(--sm);
  font-weight: 300 !important;
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 10px;
  background: #ffffff6e;
}

.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}

aside {
  background-image: linear-gradient(
    309deg,
    #1e2021 0%,
    #2c5473 46%,
    #335b5d 100%
  );
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  z-index: 3;
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 10px;
}

#shoppingCartContainer {
  padding: 0 24px;
}

.title-container {
  display: flex;
}

.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}

.title {
  font-size: var(--lg);
  font-weight: 700;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #f7f7f759;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: 700;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: 700;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart figure {
  margin: 0;
}

.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: 700;
}

button {
  background-color: #111a21;
  color: var(--very-light-pink);
  border-radius: 8px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: 700;
  height: 50px;
  margin-top: 20px;
}

.product-detail-close {
  background: var(--white);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}

.product-detail-close:hover {
  cursor: pointer;
}

#productDetail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

#productDetail .product-info {
  margin: 24px 24px 0;
}
#productDetail img {
  width: 130px;
  margin: auto;
  display: grid;
  border-radius: 5px;
}
#productDetail .product-info p:nth-child(1) {
  font-weight: 700;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

#productDetail .product-info p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}

#productDetail .product-info p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}

.primary-button {
  background-color: #111a21;
  color: var(--very-light-pink);
  border-radius: 8px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: 700;
  height: 50px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 80px;
  /*place-content: center;*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  width: 300px;
}

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.247);
  padding: 10px;
  border-radius: 5px;
}

.product-card .product-info figure {
  margin: 0;
}

.product-card .product-info figure img {
  width: 55px;
  height: 55px;
}

.product-card .product-info div p:nth-child(1) {
  font-weight: 700;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

.product-card .product-info div {
  gap: 10px;
}

/* Glassmorphism*/

.area {
  background-color: #4158d0;
  background-color: black;
  background-image: linear-gradient(
    43deg,
    #1e2021 0%,
    #2c5473 46%,
    #335b5d 100%
  );
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* card*/

.product-card {
  flex-wrap: wrap;
  z-index: 1;
  padding: 40px 30px;
  margin: 28px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  overflow: hidden;
}
/*
.product-card:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 10em;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}*/

/* Glassmorphism*/

@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  aside {
    width: 100%;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .product-card {
    width: 160px;
    display: flex;
    justify-content: center;
  }

  .product-card img {
    width: 100px;
    height: 100px;
  }
}
.product-card .product-info figure img {
  width: 35px;
  height: 35px;
}

@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}
